:root {
  --aspect-ratio: 9/16;
  --game-scale: 1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#gameCanvas {
  width: calc(100vw * var(--game-scale));
  height: calc(100vw * var(--game-scale) * var(--aspect-ratio));
}

#gameUI {
  position: absolute;
  z-index: 999;
}