:root {
  --aspect-ratio: 9/16;
  --game-scale: 1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#gameCanvas {
  width: calc(100vw * var(--game-scale));
  height: calc(100vw * var(--game-scale) * var(--aspect-ratio));
}

#gameUI {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: calc(1vw * var(--game-scale));
  left: calc(50vw - (25vw * var(--game-scale)));
  top: calc(50vh);
  transform: translate(-50%, -50%);
}

.btnMenuOption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(40vw * var(--game-scale));
  height: calc(20vw * var(--aspect-ratio) * var(--game-scale));
  outline: none;
  padding-top: calc(5px * var(--game-scale));
  padding-bottom: calc(5px * var(--game-scale));
  border: none;
  border-radius: 2px;
  background: #202020;
  color: white;
  font-weight: bold;
  font-size: calc(5vw * var(--game-scale));
}

.btnMenuOption:hover {
  filter: brightness(1.3);
}

.btnMenuOption:focus{
  filter: brightness(1.5);
}