.btnMenuOption {
    --cp-cut-size: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(40vw * var(--game-scale));
    height: calc(20vw * var(--aspect-ratio) * var(--game-scale));
    outline: none;
    padding-top: calc(5px * var(--game-scale));
    padding-bottom: calc(5px * var(--game-scale));
    border: none;
    border-radius: 2px;
    background: rgba(250, 250, 250, 0.4);
    font-weight: bold;
    font-size: calc(5vw * var(--game-scale));
    gap: 10px;
    clip-path: polygon(0% 0%, 
                        calc(100% - var(--cp-cut-size)) 0%, 
                        100% calc(2 * var(--cp-cut-size)), 
                        100% calc(100% - (2 * var(--cp-cut-size))), 
                        100% 100%, 
                        var(--cp-cut-size) 100%, 
                        0% calc(100% - (2 * var(--cp-cut-size)))
                    );
}

.btnMenuOption:hover {
    filter: brightness(2);
}

.btnMenuOption:focus{
    filter: brightness(0.85);
}