.btnMenuOption {
    --cp-cut-size: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(40vw * var(--game-scale));
    height: calc(20vw * var(--aspect-ratio) * var(--game-scale));
    outline: none;
    padding-top: calc(5px * var(--game-scale));
    padding-bottom: calc(5px * var(--game-scale));
    border: none;
    background: #202020;
    font-weight: bold;
    font-size: calc(5vw * var(--game-scale));
    gap: calc(var(--game-scale) * 10px);
    outline: calc(var(--game-scale) * 7px) solid var(--secondary-color);
    color: var(--secondary-color);
}

.btnMenuOption:hover {
    filter: brightness(2);
}

.btnMenuOption:focus{
    filter: brightness(0.85);
}